<div class="text-center">
  <h1 class="mb-4">Welcome to the Morse Code App!</h1>
  <p class="lead">Quickly encode text into Morse code or decode Morse code back to text.</p>
  <div class="mt-4">
    <%= link_to 'Encode',morse_encode_path, class:"btn btn-secondary me-2" %>
    <%= link_to 'Decode',morse_decode_path, class:"btn btn-dark" %>
  </div>
</div>
